





/****COMPONENTS*******/


/**** END COMPONENTS****/

/*****HEADER*****/


/*****END HEADER*****/

/*****HERO*****/





/*****lorem *****/


/******** END LOREM   ******/

/***** GALERY  ****/


/*****  END GALLERY   *******/

/****TEAM   ****/


/**END TEAM**/

/** CLIENTS **/
/** END CLIENTS **/

/************footer***********/



/*****  SECOND   *****/


/********portfolio-buttons *****/

.box:hover .overlay {
  transform: translatey(0);
  top: 0;
}

.box {
  position: relative;
  width: 368px;
  height: 280px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.overlay > p {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: var(--main-color);
  padding-top: 49px;
  padding-right: 24px;
  padding-left: 45px;
  padding-bottom: 49px;
}


/******  END PORTFOLIO   *****/

/***** MODAL *****/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  transition: transform 2s ease-out;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.close-btn-svg {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: rotate(90deg);
}

/***   BACKDROP***/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form-header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal__form-field {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.modal__form-input:focus {
  outline: none;
  border-color: var(--main-color);
  fill: var(--main-color);
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--main-color);
}

.modal__form-icon-item {
  width: 18px;
  height: 18px;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  padding-top: 12px;
  padding-left: 16px;
}

.modal__form-message::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0, 5);
}

.modal__form-message:focus {
  outline: none;
  border-color: var(--main-color);
}

.modal__form-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal__form-policy-text a {
  color: var(--main-color);
}

.modal__form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
}

.modal__form-policy:checked + .modal__form-policy-text::before {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
  background-image: url(../images/icons-check.svg);
  background-size: 16px 16px;
}

.modal__form-btn {
  display: block;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 76px;
  color: #ffffff;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}
.modal__form-btn:hover,
.modal__form-btn:focus {
  background-color: var(--main-color);
  color: #fff;
}

.visually-hidden {
  position: absolute !important;
  clip: rct(1px 1px 1px 1px);
  clip: rect(1pz, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/***   END BACKDROP***/
