@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/container";
@import "./base/section";

@import "./components/button";
@import "./components/modal-button";
// @import "./components/social-links";
@import "./components/description";
@import "./components/undertitle";
// @import "./components/secondary-title";
@import "./components/social-list";
@import "./components/title";
@import "./components/backdrop";
// @import "./components/modal";
// @import "./components/img-services";


@import "./layout/clients";
@import "./layout/footer";
@import "./layout/gallery";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/lorem";
@import "./layout/portfolio";
@import "./layout/team";

