.footer {
  width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
}

.footer__left-side {
  margin-right: 70px;
}

.navigation-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.address__item {
  padding-bottom: 9px;
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff99;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus,
.address__link:hover .footer__link:focus,
.footer__link:hover {
  color: var(--main-color);
}

.footer__center-side {
  width: 206px;
  height: 80px;
  display: flex;
}

.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  /* padding-top: 20px; */
}
.footer__social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer__social-icon {
  width: 20px;
  height: 20px;
}

.footer__social-list__link:focus,
.footer__social-list__link:hover {
  fill: #ffffff;
  /* color: #ffffff; */
  background-color: var(--main-color);
}

.footer__right-side {
  height: 86px;
  margin-left: 78px;
}

.footer__form{
  display: flex;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  margin-right: 12px;
}

.footer__form-input:focus {
  outline: none;
  border-color: var(--main-color);
}
.footer__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  /* transition: all 250ms linear; */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer__send-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 24px;
  margin-right: 24px;
}