
.gallery__list {
  display: flex;
  justify-content: space-between;
  min-height: 294px;
}

.gallery__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__img {
  position: absolute;
}

.gallery__photo {
  width: 370px;
  height: 294px;
}

.gallery__descryption {
  position: relative;
  top: 224px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  background: #2f303acc;
  width: 370px;
}