.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.navigation__list {
  display: flex;
}

.navigation__list:focus {
      color: var(--main-color);
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 46px;
  }
  &:last-child {
    margin-right: auto;
  }
}


.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: inherit;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--main-color);
    }
}

.menu_index {
  position: relative;
    &::after {
    position: absolute;
    display: flex;
    content: "";
    width: 53px;
    height: 4px;
    background: var(--main-color);
    border-radius: 2px;
    margin-top: 28px;
    }
}




.menu_portfolio {
  position: relative;

    &::after {
    position: absolute;
    display: flex;
    content: "";
    width: 58px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    margin-top: 28px;
    }
}

.header__email-phone{
  display: flex;
  justify-content: flex-end;
}

.header__details{
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 30px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus
    {
      color: var(--main-color);
    }
}

.header__icons{
  width: 16px;
  height: 16px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
    &:hover,
    &:focus {
      color: var(--main-color);
    }
}
