.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a66;
    & .modal-btn {
        align-items: center;
        margin-top: 30px;
    }
}

