.lorem__list {
  display: flex;
  justify-content: space-between;
}

.lorem__item{
  &:not(:last-child) {
  margin-right: 30px;
  }
}

.lorem__svg {
  padding: 25px 100px;
  background-color: #f5f4fa;
  display: flex;
  margin-bottom: 30px;
}
