
.portfolio {
  /* padding-top: 50px; */
  padding-bottom: 64px;
}

/*****  PORTFOLIO *****/
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__card-wrapper {
  position: relative;
  width: 370px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-wrapper:focus,
.portfolio__card-wrapper:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-wrapper:focus .overlay,
.portfolio__card-wrapper:hover .overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translatey(0);
}


.portfolio__card:nth-child(3n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__card:nth-child(3n + 2) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__card:nth-child(3n + 3) {
  margin-bottom: 30px;
}

.portfolio__item {
  width: 368px;
  height: 294px;
}
.portfolio__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.portfolio__title {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  padding-left: 24px;
}



.box:hover .overlay {
  transform: translatey(0);
  top: 0;
}

.box {
  position: relative;
  width: 368px;
  height: 280px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.overlay > p {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: var(--main-color);
  padding-top: 49px;
  padding-right: 24px;
  padding-left: 45px;
  padding-bottom: 49px;
}