.footer-social-list {
  display: flex;
}

.footer-social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: #ffffff;
      background-color: var(--main-color);
    }
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}
