.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  align-items: center;
  padding: 10px 42px;
  margin-bottom: 200px;
}

